@use "../../styles/utils/utils.scss" as u;
.destination__container {
  $imgUrl: u.image("destination", "background-destination-mobile.jpg");
  background-image: url($imgUrl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
    background-image: url(u.image(
      "destination",
      "background-destination-tablet.jpg"
    ));
    height: 100vh;
  }

  @media screen and (min-width: map-get(u.$brakePoints, large)) {
    background-image: url(u.image(
      "destination",
      "background-destination-desktop.jpg"
    ));
  }
}
