@use "../../styles/utils/utils" as u;

.crewComponent__container {
  text-align: center;
  flex: 1
  ;

  .crewComponent__content {
    
    @include u.flex-d(column, 2rem);
    align-items: center;
    &-crew-img {
      width: 100%;
      height: 30vh;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      border-bottom: 1px solid #383b4b;
      @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
        height: 50vh;
        border-bottom: none;
      }

      @media screen and (min-width: map-get(u.$brakePoints, large)){
        height: 100%;
        width: 50%;
      } 
    }

    &-crew-description {
      @include u.flex-d(column, clamp(2rem, 5vw, 9rem));

      .dots {
        & button {
          margin-right: 1rem;
          width: 0.625rem;
          height: 0.625rem;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          background-color: white;
          opacity: 0.17;
        }
      }
      .heading {
        @include u.flex-d(column, clamp(0.5rem, 4vw, 0.99rem));
        @media screen and (min-width: map-get(u.$brakePoints, large)){
          margin-bottom: 2rem;
        }
      }
      .crew-description {
        @include u.flex-d(column, 1rem);
      }

      @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
        flex-direction: column-reverse;
        height: 100%;
      }

      @media screen and (min-width: map-get(u.$brakePoints, large)){
        width: 60%;
        justify-content: center;
      } 
    }

    @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
      margin-top: 3rem;
      margin-inline: 9.5rem;
      text-align: center;
      gap: 3rem;
      flex-direction: column-reverse;
    }

    @media screen and (min-width: map-get(u.$brakePoints, large)) {
      height: 95%;
      margin-top: 0;
      flex-direction: row-reverse;
      text-align: left;
      align-items: flex-end;
    }
  }
  @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
    text-align: left;
  }
  @media screen and (min-width: map-get(u.$brakePoints, large)){
    
    & h2{
      margin-left: 9.5rem;
    }
  } 
}
