.crewComponent__container {
  text-align: center;
  flex: 1;
}
.crewComponent__container h2 span {
  font-weight: 700;
  color: white;
  opacity: 0.25;
}
.crewComponent__container .crewComponent__content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.crewComponent__container .crewComponent__content-crew-img {
  width: 100%;
  height: 30vh;
  border-bottom: 1px solid #383b4b;
}
.crewComponent__container .crewComponent__content-crew-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 48em) {
  .crewComponent__container .crewComponent__content-crew-img {
    height: 50vh;
    border-bottom: none;
  }
}
@media screen and (min-width: 62.5em) {
  .crewComponent__container .crewComponent__content-crew-img {
    width: 50%;
  }
}
.crewComponent__container .crewComponent__content-crew-description {
  display: flex;
  gap: clamp(2rem, 5vw, 9rem);
  flex-direction: column;
}
.crewComponent__container .crewComponent__content-crew-description .dots button {
  margin-right: 1rem;
  width: 0.625rem;
  height: 0.625rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  opacity: 0.17;
  transition: all 0.5s ease-in-out;
}
.crewComponent__container .crewComponent__content-crew-description .dots button:hover {
  opacity: 0.5;
}
.crewComponent__container .crewComponent__content-crew-description .dots button.selected {
  opacity: 1;
}
.crewComponent__container .crewComponent__content-crew-description .heading {
  display: flex;
  gap: clamp(0.5rem, 4vw, 0.99rem);
  flex-direction: column;
}
@media screen and (min-width: 62.5em) {
  .crewComponent__container .crewComponent__content-crew-description .heading {
    margin-bottom: 2rem;
  }
}
.crewComponent__container .crewComponent__content-crew-description .crew-description {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media screen and (min-width: 48em) {
  .crewComponent__container .crewComponent__content-crew-description {
    flex-direction: column-reverse;
    height: 100%;
  }
}
@media screen and (min-width: 62.5em) {
  .crewComponent__container .crewComponent__content-crew-description {
    width: 60%;
    justify-content: center;
  }
}
@media screen and (min-width: 48em) {
  .crewComponent__container .crewComponent__content {
    margin-top: 3rem;
    margin-inline: 9.5rem;
    text-align: center;
    gap: 3rem;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 62.5em) {
  .crewComponent__container .crewComponent__content {
    height: 95%;
    margin-top: 0;
    flex-direction: row-reverse;
    text-align: left;
  }
}
@media screen and (min-width: 48em) {
  .crewComponent__container {
    text-align: left;
  }
}
@media screen and (min-width: 62.5em) {
  .crewComponent__container h2 {
    margin-left: 9.5rem;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .crewComponent__container h2 span {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=CrewComponent.css.map */