@use "../../styles/utils/utils.scss" as u;
.technology__container {
  $imgUrl: u.image("technology", "background-technology-mobile.jpg");
  height: 100vh;
  overflow-x: hidden;
  background-image: url($imgUrl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
    background-image: url(u.image(
      "technology",
      "background-technology-tablet.jpg"
    ));
  }

  @media screen and (min-width: map-get(u.$brakePoints, large)) {
    background-image: url(u.image(
      "technology",
      "background-technology-desktop.jpg"
    ));
  }
}
