@use "../../styles/utils/utils.scss" as u;
@use "../../styles/colors/colors.scss" as c;

.nav__container {
  @include u.flex-d(row, 0);

  justify-content: space-between;
  align-items: center;
  .line {
    display: none;
  }

  & img {
    width: 2.5rem;
    height: 2.5rem;
  }

  &-hamburger {
    position: absolute;
    @include u.flex-d(column, 0.37rem);
    cursor: pointer;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 11;

    & span {
      width: 1.5rem;
      height: 3px;
      background-color: c.$secondaryColor;
      transition: transform 0.3s ease;
    }

    &.open span:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    &.open span:nth-child(2) {
      opacity: 0;
    }

    &.open span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }

    @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
      display: none;
    }
  }

  @media screen and (min-width: map-get(u.$brakePoints, large)) {
    .line {
      position: absolute;
      width: 35%;
      border: 1px solid rgba(255, 255, 255, 0.25);
      top: 3.5rem;
      left: 9rem;
      display: block;
      z-index: 11;
    }
  }
}
