@use "../../styles/utils/utils.scss" as u;
@use "../../styles/colors/colors.scss" as c;

.nav__container {
  @include u.flex-d(row, 0);

  justify-content: space-between;
  align-items: center;

  & img {
    width: 2.5rem;
    height: 2.5rem;
  }

  &-hamburger {
    position: absolute;
    @include u.flex-d(column, 0.37rem);
    cursor: pointer;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 11;
    & span {
      width: 1.5rem;
      height: 3px;
      background-color: c.$secondaryColor;
    }

    @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
      display: none;
    }
  }
}
