@use "../../styles/utils/utils" as u;
@use "../../styles/colors/colors" as c;

.destinationComponent__container {
  text-align: center;
  & h2{
    & span{
        font-weight: 700;
        color: white;
        opacity: 0.25;
    }
  }
  & img {
    $imgWidth: 10.625rem;
    padding: 1rem;
    margin-top: clamp(1rem, 7vw, 6rem);
    margin-bottom: clamp(1rem, 7vw, 6rem);
    width: $imgWidth;

    @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
      width: calc(1.8 * $imgWidth);
    }

    @media screen and (min-width: map-get(u.$brakePoints, large)) {
      width: calc(2.4 * $imgWidth);
    }
  }
  .section-destination {
    @media screen and (min-width: map-get(u.$brakePoints, large)) {
      height: 29.5rem;
    }
  }
  .destinationNav__container {
    @include u.flex-d(row, 1.5rem);
    justify-content: center;
    align-items: center;
    .destinationNav__link {
      font-family: "Barlow Condensed";
      font-weight: 400;
      letter-spacing: 2.7px;
      font-size: clamp(0.9rem, 4vw, 1.3rem);
      color: c.$secondaryColor;
      padding-bottom: 0.5rem;
      cursor: pointer;

      &.active-link {
        padding-bottom: 0.3125rem;
        border-bottom: 3px solid white;
      }

      &:hover{
        
        padding-bottom: 0.3125rem;
        border-bottom: 3px solid rgba(255,255,255,0.5);
      }
    }
    @media screen and (min-width: map-get(u.$brakePoints, large)) {
      justify-content: flex-start;
    }
  }

  .destinationComponent__description {
    margin: 0 auto;
    padding: 2rem 0;
    border-bottom: 1px solid #383b4b;

    @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
      width: 80%;
      padding: 3rem 0;
    }

    @media screen and (min-width: map-get(u.$brakePoints, large)) {
      text-align: left;
      width: 27.8125rem;
    }
  }

  .destinationComponent__distance-travel {
    padding: 2rem 0;
    @include u.flex-d(column, 2rem);

    .distance,
    .travel {
      @include u.flex-d(column, 0.8rem);
    }
    @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
      flex-direction: row;
      justify-content: center;
    }
    @media screen and (min-width: map-get(u.$brakePoints, large)) {
      justify-content: flex-start;
    }
  }
  @media screen and (min-width: map-get(u.$brakePoints, tablet)) {
    & h2 {
      text-align: left;
    }
  }

  @media screen and (min-width: map-get(u.$brakePoints, large)) {
    & h2 {
      font-size: 1.8rem;
      margin-bottom: 0;

      & span{
        font-size: 1.8rem;
      }
    }
    margin: 0 10rem;
    @include u.flex-d(row, 0);
    justify-content: space-between;
    align-items: center;
    
  }
}
